* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      font-family: 'Inter', serif;
      background-color: #FFFFFF;
  }
  
  header {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;
      width: 100%;
      left: 0;
      right: 0;
      background-color: rgba (0, 0, 0, 0);
  }
  
  .logo {
      display:flex;
      align-items: center;
      justify-content: start;
      gap: 12px;
  }
  
  .logo img {
      height: 24px;
  }
  
  .logo p {
      color: #FFFFFF;
  }
  
  nav {
      display: flex;
      align-items: center;
      gap: 16px;
  }
  
  nav a {
      text-decoration: none;
      color:rgba(255, 255, 255, 0.80);
      font-size: 14px;
      font-weight: 400;
  }
  
  #button {
      display: flex;
      align-items: center;
      gap: 12px;
  }
  
  button {
      padding: 8px 16px;
      font-size: 14px;
  }
  
  #btn-primary {
      background-color: #FFFFFF;
      color: #161616;
  }
  
  #btn-secondary {
      background-color:transparent;
      color: #FFFFFF;
      border: 1px solid rgba(255, 255, 255, 0.50);
  }
  
  #hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0px 20px;
      height: 100vh;
      gap: 20px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hero.jpg");
      background-size: cover;
  }
  
  #hero h1 {
      font-size: 100px;
      margin: 0px;
      color: #FFFFFF;
  }
  
  #hero p {
      width: 50%;
      color:rgba(255, 255, 255, 0.80);
  }
  
  #hero button {
      padding: 8px 16px;
      font-size: 14px;
      background-color: #FFFFFF;
      color: #161616;
      border: 0px;
  }

  a {
    text-decoration: none;
    color: #161616;
  }